<div class="search-cate">
    <select class="selectpicker">
        <option> All Categories</option>
        <option> Home Audio & Theater</option>
        <option> TV & Video</option>
        <option> Camera, Photo & Video</option>
        <option> Cell Phones & Accessories</option>
        <option> Headphones</option>
        <option> Video Games</option>
        <option> Bluetooth & Wireless </option>
        <option> Gaming Console</option>
        <option> Computers & Tablets</option>
        <option> Monitors </option>
    </select>
    <input type="search" placeholder="Search store here...">
    <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
</div>
