
@{
    ViewBag.Title = "Axessories | Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Index/css")
<!-- Nav Header -->

<div class="big-nsv">
    <div class="container">
        <ul class="nav" role="tablist">
            <li><a href="#"> <i class="flaticon-computer"></i> TV & Audios </a></li>
            <li><a href="#"><i class="flaticon-smartphone"></i>Smartphones </a></li>
            <li><a href="#"><i class="flaticon-laptop"></i>Desk & Laptop </a></li>
            <li><a href="#"><i class="flaticon-gamepad-1"></i>Game Console </a></li>
            <li><a href="#"><i class="flaticon-computer-1"></i>Watches </a></li>
            <li><a href="#"><i class="flaticon-keyboard"></i>Accessories </a></li>
        </ul>
    </div>
</div>

<!-- Slid Sec -->
<section class="slid-sec with-bg-slide-all">
    <div class="container">
        <div class="container-fluid">
            <div class="row">

                <!-- Main Slider  -->
                <div class="col-md-9 no-padding">

                    <!-- Main Slider Start -->
                    <div class="tp-banner-container">
                        <div class="tp-banner">
                            <ul>

                                <!-- SLIDE  -->
                                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                    <!-- MAIN IMAGE -->
                                    <img src="~/Content/images/trans-bg.png" alt="slider" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfl tp-resizeme"
                                         data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="-80"
                                         data-speed="800"
                                         data-start="800"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="chars"
                                         data-splitout="none"
                                         data-elementdelay="0.03"
                                         data-endelementdelay="0.4"
                                         data-endspeed="300"
                                         style="z-index: 5; font-size:24px; font-weight:500; color:#888888;  max-width: auto; max-height: auto; white-space: nowrap;">High Quality VR Glasses</div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption sfr tp-resizeme"
                                         data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="-40"
                                         data-speed="800"
                                         data-start="1000"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="chars"
                                         data-splitout="none"
                                         data-elementdelay="0.03"
                                         data-endelementdelay="0.1"
                                         data-endspeed="300"
                                         style="z-index: 6; font-size:36px; color:#0088cc; font-weight:800; white-space: nowrap;">3D Daydream View</div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption sfl tp-resizeme"
                                         data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="20"
                                         data-speed="800"
                                         data-start="1200"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         data-endspeed="300"
                                         style="z-index: 7;  font-size:24px; color:#888888; font-weight:500; max-width: auto; max-height: auto; white-space: nowrap;">Starting at</div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfr tp-resizeme"
                                         data-x="left" data-hoffset="200"
                                         data-y="center" data-voffset="10"
                                         data-speed="800"
                                         data-start="1300"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="chars"
                                         data-splitout="none"
                                         data-elementdelay="0.03"
                                         data-endelementdelay="0.4"
                                         data-endspeed="300"
                                         style="z-index: 5; font-size:36px; font-weight:bold; color:#000;  max-width: auto; max-height: auto; white-space: nowrap;">$49.99</div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfr tp-resizeme"
                                         data-x="right" data-hoffset="-100"
                                         data-y="center" data-voffset="0"
                                         data-speed="800"
                                         data-start="1300"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         data-endspeed="300"
                                         data-scrolloffset="0"
                                         style="z-index: 9;"><img src="~/Content/images/slide-item-8-1.png" alt=""></div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption lfb tp-resizeme"
                                         data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="120"
                                         data-speed="800"
                                         data-start="1300"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         data-endspeed="300"
                                         data-scrolloffset="0"
                                         style="z-index: 8;"><a href="#." class="btn-round big">Buy Now</a></div>
                                </li>

                                <!-- SLIDE  -->
                                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                    <!-- MAIN IMAGE -->
                                    <img src="~/Content/images/trans-bg.png" alt="slider" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfl tp-resizeme"
                                         data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="-80"
                                         data-speed="800"
                                         data-start="800"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="chars"
                                         data-splitout="none"
                                         data-elementdelay="0.03"
                                         data-endelementdelay="0.4"
                                         data-endspeed="300"
                                         style="z-index: 5; font-size:24px; font-weight:500; color:#888888;  max-width: auto; max-height: auto; white-space: nowrap;">High Quality VR Glasses</div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption sfr tp-resizeme"
                                         data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="-40"
                                         data-speed="800"
                                         data-start="1000"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="chars"
                                         data-splitout="none"
                                         data-elementdelay="0.03"
                                         data-endelementdelay="0.1"
                                         data-endspeed="300"
                                         style="z-index: 6; font-size:36px; color:#0088cc; font-weight:800; white-space: nowrap;">3D Daydream View</div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption sfl tp-resizeme"
                                         data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="20"
                                         data-speed="800"
                                         data-start="1200"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         data-endspeed="300"
                                         style="z-index: 7;  font-size:24px; color:#888888; font-weight:500; max-width: auto; max-height: auto; white-space: nowrap;">Starting at</div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfr tp-resizeme"
                                         data-x="left" data-hoffset="200"
                                         data-y="center" data-voffset="10"
                                         data-speed="800"
                                         data-start="1300"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="chars"
                                         data-splitout="none"
                                         data-elementdelay="0.03"
                                         data-endelementdelay="0.4"
                                         data-endspeed="300"
                                         style="z-index: 5; font-size:36px; font-weight:bold; color:#000;  max-width: auto; max-height: auto; white-space: nowrap;">$49.99</div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfr tp-resizeme"
                                         data-x="right" data-hoffset="-100"
                                         data-y="center" data-voffset="0"
                                         data-speed="800"
                                         data-start="1300"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         data-endspeed="300"
                                         data-scrolloffset="0"
                                         style="z-index: 9;"><img src="~/Content/images/slide-item-8-1.png" alt=""></div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption lfb tp-resizeme"
                                         data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="120"
                                         data-speed="800"
                                         data-start="1300"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         data-endspeed="300"
                                         data-scrolloffset="0"
                                         style="z-index: 8;"><a href="#." class="btn-round big">Buy Now</a></div>
                                </li>


                                <!-- SLIDE  -->
                                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                    <!-- MAIN IMAGE -->
                                    <img src="~/Content/images/trans-bg.png" alt="slider" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfl tp-resizeme"
                                         data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="-80"
                                         data-speed="800"
                                         data-start="800"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="chars"
                                         data-splitout="none"
                                         data-elementdelay="0.03"
                                         data-endelementdelay="0.4"
                                         data-endspeed="300"
                                         style="z-index: 5; font-size:24px; font-weight:500; color:#888888;  max-width: auto; max-height: auto; white-space: nowrap;">High Quality VR Glasses</div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption sfr tp-resizeme"
                                         data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="-40"
                                         data-speed="800"
                                         data-start="1000"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="chars"
                                         data-splitout="none"
                                         data-elementdelay="0.03"
                                         data-endelementdelay="0.1"
                                         data-endspeed="300"
                                         style="z-index: 6; font-size:36px; color:#0088cc; font-weight:800; white-space: nowrap;">3D Daydream View</div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption sfl tp-resizeme"
                                         data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="20"
                                         data-speed="800"
                                         data-start="1200"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         data-endspeed="300"
                                         style="z-index: 7;  font-size:24px; color:#888888; font-weight:500; max-width: auto; max-height: auto; white-space: nowrap;">Starting at</div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfr tp-resizeme"
                                         data-x="left" data-hoffset="200"
                                         data-y="center" data-voffset="10"
                                         data-speed="800"
                                         data-start="1300"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="chars"
                                         data-splitout="none"
                                         data-elementdelay="0.03"
                                         data-endelementdelay="0.4"
                                         data-endspeed="300"
                                         style="z-index: 5; font-size:36px; font-weight:bold; color:#000;  max-width: auto; max-height: auto; white-space: nowrap;">$49.99</div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfr tp-resizeme"
                                         data-x="right" data-hoffset="-100"
                                         data-y="center" data-voffset="0"
                                         data-speed="800"
                                         data-start="1300"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         data-endspeed="300"
                                         data-scrolloffset="0"
                                         style="z-index: 9;"><img src="~/Content/images/slide-item-8-1.png" alt=""></div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption lfb tp-resizeme"
                                         data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="120"
                                         data-speed="800"
                                         data-start="1300"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         data-endspeed="300"
                                         data-scrolloffset="0"
                                         style="z-index: 8;"><a href="#." class="btn-round big">Buy Now</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Main Slider  -->
                <div class="col-md-3 no-padding">

                    <!-- New line required  -->
                    <div class="product">
                        <div class="like-bnr">
                            <div class="position-center-center">
                                <h5>New line required</h5>
                                <h4>Smartphone s7</h4>
                                <span class="price">$259.99</span>
                            </div>
                        </div>
                    </div>

                    <!-- Weekly Slaes  -->
                    <div class="week-sale-bnr">
                        <h4>Weekly <span>Sale!</span></h4>
                        <p>
                            Saving up to 50% off all online
                            store items this week.
                        </p>
                        <a href="#." class="btn-round">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content -->
<div id="content">

    <!-- Weekly Featured -->
    <section class="padding-bottom-60 padding-top-30">
        <div class="container">

            <!-- heading -->
            <div class="heading">
                <h2>Weekly Featured</h2>
                <hr>
            </div>
            <!-- Items Slider -->
            <div class="item-slide-4 with-nav">
                <!-- Product -->
                <div class="product">
                    <article>
                        <img class="img-responsive" src="~/Content/images/item-img-1-1.jpg" alt="">
                        <!-- Content -->
                        <span class="tag">Latop</span> <a href="#." class="tittle">Laptop Alienware 15 i7 Perfect For Playing Game</a>
                        <!-- Reviews -->
                        <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                        <div class="price">$350.00 </div>
                        <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
                    </article>
                </div>
                <!-- Product -->

            </div>
        </div>
    </section>

    <!-- Banner -->
    <section class="disply-sec slid-sec margin-bottom-0">
        <div class="container">
            <div class="row">

                <!-- Smartphone -->
                <div class="col-md-6">
                    <div class="product">
                        <div class="like-bnr ultra">
                            <div class="position-center-center">
                                <h5>Ultra-portable Bluetooth</h5>
                                <h4>F31 GamePad</h4>
                                <span class="price">$120.00</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sport -->
                <div class="col-md-6">
                    <div class="product">
                        <div class="like-bnr ultra-1">
                            <div class="position-center-center">
                                <h5>Make your life smart</h5>
                                <h4>SmartWatch</h4>
                                <span class="price">$259.99</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Latest Products -->
    <section class="padding-bottom-60 padding-top-60">
        <div class="container">

            <!-- heading -->
            <div class="heading">
                <h2>Latest Products</h2>
                <hr>
            </div>
            <!-- Items Slider -->
            <div class="item-slide-4 with-nav">
                <!-- Product -->
                <div class="product">
                    <article>
                        <img class="img-responsive" src="~/Content/images/item-img-1-10.jpg" alt="">
                        <!-- Content -->
                        <span class="tag">Latop</span> <a href="#." class="tittle">Laptop Alienware 15 i7 Perfect For Playing Game</a>
                        <!-- Reviews -->
                        <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                        <div class="price">$350.00 </div>
                        <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
                    </article>
                </div>
                <!-- Product -->

            </div>
        </div>
    </section>

    <!-- Latest Products -->
    <section class="padding-bottom-60 padding-top-0">
        <div class="container">
            <div class="row">

                <!-- Top Selling -->
                <div class="col-md-4">

                    <!-- heading -->
                    <div class="heading">
                        <h2>Top Selling</h2>
                        <hr>
                    </div>
                    <div class="shop-listing">

                        <!-- Items list -->
                        <div class="media">
                            <div class="media-left"> <a href="#." class="avatar"><img class="img-responsive" src="images/item-img-1-1.jpg" alt=""></a> </div>
                            <div class="media-body"> <a href="#">Teclado Inalambrico Bluetooth Mouse</a> <span class="price">$350</span> </div>
                        </div>

                        <!-- Items list -->
                        <div class="media">
                            <div class="media-left"> <a href="#." class="avatar"><img class="img-responsive" src="images/item-img-1-2.jpg" alt=""></a> </div>
                            <div class="media-body"> <a href="#">Teclado Inalambrico Bluetooth Mouse</a> <span class="price">$350</span> </div>
                        </div>

                        <!-- Items list -->
                        <div class="media">
                            <div class="media-left"> <a href="#." class="avatar"><img class="img-responsive" src="images/item-img-1-3.jpg" alt=""></a> </div>
                            <div class="media-body"> <a href="#">Teclado Inalambrico Bluetooth Mouse</a> <span class="price">$350</span> </div>
                        </div>
                    </div>
                </div>

                <!-- Most viewed -->
                <div class="col-md-4">

                    <!-- heading -->
                    <div class="heading">
                        <h2>Most viewed</h2>
                        <hr>
                    </div>
                    <div class="shop-listing">

                        <!-- Items list -->
                        <div class="media">
                            <div class="media-left"> <a href="#." class="avatar"><img class="img-responsive" src="images/item-img-1-4.jpg" alt=""></a> </div>
                            <div class="media-body"> <a href="#">Teclado Inalambrico Bluetooth Mouse</a> <span class="price">$350</span> </div>
                        </div>

                        <!-- Items list -->
                        <div class="media">
                            <div class="media-left"> <a href="#." class="avatar"><img class="img-responsive" src="images/item-img-1-5.jpg" alt=""></a> </div>
                            <div class="media-body"> <a href="#">Laptop Alienware 15” i7 For Playing Game</a> <span class="price">$85</span> </div>
                        </div>

                        <!-- Items list -->
                        <div class="media">
                            <div class="media-left"> <a href="#." class="avatar"><img class="img-responsive" src="images/item-img-1-6.jpg" alt=""></a> </div>
                            <div class="media-body"> <a href="#">Mp3 Sumergible Deportivo Slim Con 8GB</a> <span class="price">$50</span> </div>
                        </div>
                    </div>
                </div>

                <!-- Top Rated -->
                <div class="col-md-4">

                    <!-- heading -->
                    <div class="heading">
                        <h2>Top Rated</h2>
                        <hr>
                    </div>
                    <div class="shop-listing">

                        <!-- Items list -->
                        <div class="media">
                            <div class="media-left"> <a href="#." class="avatar"><img class="img-responsive" src="images/item-img-1-7.jpg" alt=""></a> </div>
                            <div class="media-body"> <a href="#">Teclado Inalambrico Bluetooth Mouse</a> <span class="price">$525</span> </div>
                        </div>

                        <!-- Items list -->
                        <div class="media">
                            <div class="media-left"> <a href="#." class="avatar"><img class="img-responsive" src="images/item-img-1-8.jpg" alt=""></a> </div>
                            <div class="media-body"> <a href="#">Laptop Alienware 15” i7 For Playing Game</a> <span class="price">$248</span> </div>
                        </div>

                        <!-- Items list -->
                        <div class="media">
                            <div class="media-left"> <a href="#." class="avatar"><img class="img-responsive" src="images/item-img-1-9.jpg" alt=""></a> </div>
                            <div class="media-body"> <a href="#">Teclado Inalambrico Bluetooth Mouse</a> <span class="price">$58</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>